@model TestHospitalAPI.Models.patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bedNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bedNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDischarged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDischarged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.admittedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.admittedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
