@model HospitalWebApplication.Models.patientDetails

@{
    ViewData["Title"] = "Delete";
}

<h1>Discharge</h1>
<div>
    <h4>patients</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bedID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bedID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>   
    </dl>    
    <div>
    <a asp-action="DeleteConfirmed" asp-route-id="@Model?.patientid">Discharge</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
